USE [BHP1-RO]
GO

/****** Object:  StoredProcedure [di].[BHPUserLoginV4]    Script Date: 02/07/2011 10:48:06 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[di].[BHPUserLoginV4]') AND type in (N'P', N'PC'))
begin
	Raiserror('Proc:[[di].BHPUserLoginV4] dropped...',0,1);
	DROP PROCEDURE [di].[BHPUserLoginV4]
end
GO


/*
** Name: login to bhp
** Synopsis: attempt to login if a login rec doesn't already exist for the customer.
** Return(s):

**	(66000) - login failed...probably bad password
**	(66001) - already logged in.
**	(66002) - overdue on payment(s) to bhp
**	(66003) - login successful
**	(66094) - deployment id is not valid!!!
*/
create proc [di].[BHPUserLoginV4] (
	@user nvarchar(256), -- an email address or just their registered bhp name...
	@pswd nvarchar(50), 
	@lang nvarchar(20) = 'en_us',
	@deployid varchar(256), -- the deployment guid (found in [di].DeploymentInfo tbl
	@cc int output, -- rtrn code 
	@mesg nvarchar(4000) output -- any message(s)...
)
with encryption, execute as 'sticky'
as
begin
	--Set nocount on;

	Declare @custid bigint;
	Declare @maxdebt money;
	Declare @allowmulti bit; -- if customer entry says they can have mulitple login sessions going
	Declare @xml xml; -- filled out w/system gen'd messages (if any)...
	Declare @RowID int; -- newly created session row...
	Declare @zeroguid uniqueidentifier;
	Declare @nusessid uniqueidentifier;
	Declare @deployMsg xml; -- holds a deployment belch message.
	Declare @sessMsg xml; -- hold session src node.
	Declare @deployNm varchar(200);
	Declare @tmp Table ([ID] bigint);
	Declare @rc int; -- temp var
	
	Set @xml = N'<Messages/>';
	Set @zeroguid = convert(uniqueidentifier,'00000000-0000-0000-0000-000000000000');
	Set @RowID = -1; -- this is set to the non-existant rowid to return a dummy result set if user fails login process somehow
	Set @nusessid = NEWID();

	/*
	** if the @deployid doesn't exist...we're outta here!!!
	** NOTE: we could grab the '0' row from [di].Deployments...but i need to think about that!!!
	*/
	if not exists(select * from [di].Deployments Where (DeploymentID = @deployid))
	begin
		-- should write and audit record here failed login.
		Set @cc = 66094; -- this nbr represents a failed attempt.
		Exec [di].getI18NMsg @Nbr=@cc, @Lang=@Lang, @Msg=@Mesg output;
		Select @mesg = FORMATMESSAGE(@Mesg, @deployid);
		Set @xml.modify('
insert <Item nbr=''{sql:variable("@cc")}''>{sql:variable("@Mesg")}</Item>
as last into (/Messages)[1]
');

		goto Done;
	end

	Select @deployNm = [Name] From [di].Deployments WHere (DeploymentID = @deployid);

	/*
	** first see if acct exists based upon their name (@user) column...
	*/
	Select @custid = C.rowid, @allowmulti = C.AllowMultiSession
	From [di].CustMstr C
	Inner Join [di].Deployments D On (C.fk_DeployInfo = D.RowID And D.DeploymentID = @deployid)
	Where (C.[Name] = rtrim(ltrim(@user)) And C.BHPPwd = @pswd And C.AllowLogin = 1);

	Set @rc = @@ROWCOUNT;
	
	/*
	** If not found by name col, try bhpuid (@user - should be an email address)
	*/
	if (@rc = 0)
	begin
		Select @custid = C.rowid, @allowmulti = C.AllowMultiSession
		From [di].CustMstr C
		Inner Join [di].Deployments D On (C.fk_DeployInfo = D.RowID And D.DeploymentID = @deployid)
		Where (C.BHPUid = @user and C.BHPPwd = @pswd And C.AllowLogin = 1);
		Set @rc = @@ROWCOUNT;
	end

	/*
	** Unknown user.  Puke them out...
	*/
	if (@rc = 0)
	begin

		-- retrieve 'hint' if user id is valid...at this point either pswd failed validation or acct is not allowed to login
		If Exists (
			Select * 
			from [di].CustMstr C
			Inner Join [di].Deployments D On (C.fk_DeployInfo = D.RowID And D.DeploymentID = @deployid)
			Where (C.Name = rtrim(ltrim(@user)) or C.BHPUid = @user) And C.AllowLogin = 1
		)
		Begin
			Declare @hint nvarchar(2000);
			select top (1) @hint = 'your login hint is:[''' + Hint + ''']' 
			From [di].CustMstr C
			Inner Join [di].Deployments D On (C.fk_DeployInfo = D.RowID And D.DeploymentID = @deployid)
			Where (C.Name = rtrim(ltrim(@user)) or C.BHPUid = @user) And (C.AllowLogin = 1);
			Set @xml.modify('
insert <Item nbr=''{0}''>{sql:variable("@hint")}</Item>
as last into (/Messages)[1]
');

		End
		Else If Exists (Select * 
			from [di].CustMstr C
			Inner Join [di].Deployments D On (C.fk_DeployInfo = D.RowID And D.DeploymentID = @deployid)
			Where (C.Name = rtrim(ltrim(@user)) or C.BHPUid = @user) And C.AllowLogin = 0
		)
		Begin
			Set @xml.modify('
insert <Item nbr=''{0}''>Account is not allowed to login...pls contact admin!!!</Item>
as last into (/Messages)[1]
');

		End

		-- should write and audit record here failed login).
		Set @cc = 66000; -- this nbr represents a failed attempt.
		Exec [di].getI18NMsg @Nbr=@cc, @Lang=@Lang, @Msg=@Mesg output;
		Select @Mesg = FORMATMESSAGE(@Mesg,@user);
		Set @xml.modify('
insert <Item nbr=''{sql:variable("@cc")}''>{sql:variable("@Mesg")}</Item>
as last into (/Messages)[1]
');

		GoTo Done;
	end
	
	Exec [di].getEnv @VarNm='max outstanding auction proceeds allowed for a customer ($$$)', @VarVal=@maxdebt output, @DfltVal='1000.00';
	
	-- see if any open session(s) exists...auto-close any open stale connections...
	If Exists (Select * 
		from [di].SessionMstr S
		Inner Join [di].Deployments D On (S.fk_DeployInfo = D.RowID And D.DeploymentID = @deployid)
		Where (S.fk_CustID = @CustID And ISNULL(S.ClosedOn,0) = 0)
	)
	Begin
		Declare @cnt int;
		Declare @ss varchar(256); -- our zero guid from sessionmstr tbl.
		Declare @status bit;
		Declare @_Mesgs nvarchar(2000);
		Declare @_mesg varchar(256);
		Declare @_rc int;

		/*
		** Walk any open session(s) and close down any that are stale
		*/
		Set @ss = convert(varchar(256), @zeroguid); -- zero out guid for loop

		while exists (
			Select * 
			from [di].SessionMstr S
			Inner Join [di].Deployments D On (S.fk_DeployInfo = D.RowID And D.DeploymentID = @deployid)
			where (S.fk_CustID = @custid And ISNULL(S.ClosedOn,0) = 0 And convert(varchar(256),S.SessID) > @ss)
		)
		begin
			Select Top (1) 
				@ss=convert(varchar(256),S.SessID), @_Mesgs=null, @_mesg=null, @_rc=0, @status=0
			From [di].SessionMstr S
			Inner Join [di].Deployments D On (S.fk_DeployInfo = D.RowID And D.DeploymentID = @deployid)
			Where (S.fk_CustID = @custid and ISNULL(S.ClosedOn,0) = 0 And convert(varchar(256),S.SessID) > @ss)
			Order by S.SessID;

			Exec [di].IsSessStale @SessID=@ss, @autoClose=1, @status=@status output, @Mesgs=@_Mesgs output;

			if (@status=1)
			Begin
			
				Set @_mesg = convert(xml, @_Mesgs).value('(/Messages/Item)[1]','varchar(256)');
				Set @_rc = convert(xml, @_Mesgs).value('(/Messages/Item[1]/@nbr)[1]','int');

				Set @xml.modify('
					insert <Item nbr=''{sql:variable("@_rc")}''>{sql:variable("@_mesg")}</Item>
					as last into (/Messages)[1]
				');


				-- post a ssb msg that a session is closed. NOTE: this could be done in isSessStale call
				-- since it updates the session mstr!!!!
				--exec [di].GenDeployRootNodeMesg @evnttype='logout',@deployID=@deployID,@mesg=@deployMsg output;
				--exec [di].GenSessSrcMesg @sessID=@ss, @mesg=@sessMsg output;
				--	-- stuff in session source node
				--set @deployMsg.modify('
				--	declare namespace b="http://burp.net/deployment/evnts";
				--	insert sql:variable("@sessMsg") as first into (/b:Burp_Deployment/b:Payload)[1]
				--');
				--exec [di].SendDeploymentMesg @msg=@deployMsg;
			End

		end -- endof while exists...

		Select @cnt = COUNT(*)
		From [di].SessionMstr S
		Inner Join [di].Deployments D On (S.fk_DeployInfo = D.RowID And D.DeploymentID = @deployid)
		Where (S.fk_CustID = @CustID and S.ClosedOn = 0);

		Set @cnt = ISNULL(@Cnt, 0);

		if (@cnt > 0)
		Begin
			Set @xml.modify('
				insert <Item nbr=''{0}''>you currently have:[{sql:variable("@cnt")}] session(s) open...</Item>
				as last into (/Messages)[1]
			');
		End
	End
	
	/*
	** User has an open session can't allow login cause 'allow multi' isn't set!!!
	*/
	If (@cnt > 1 And @AllowMulti = 0)
	Begin
		Set @cc = 66001; -- rtrn cd says 'you are already logged in...sorry'.
		Exec [di].getI18NMsg @Nbr=@cc, @Lang=@Lang, @Msg=@Mesg output;
		Select @Mesg = FORMATMESSAGE(@MEsg, @user);
		Set @xml.modify('
insert <Item nbr=''{sql:variable("@cc")}''>{sql:variable("@Mesg")}</Item>
as last into (/Messages)[1]
');

		Goto Done;
	End
	
	/*
	** Create a login session here...
	** NOTE: we've already verified the @deployid exists!!!
	*/
	Insert Into [di].SessionMstr (SessID, fk_CustID, Lang, CreatedOn, LastActiveOn, fk_DeployInfo)
	Output Inserted.RowID into @tmp([ID])
	Select Top (1)
		@nusessid, 
		@custid, 
		isnull([di].fn_IsNull(@lang),'en_us'), 
		getdate(), 
		getdate(), 
		D.[RowID]
	From [di].Deployments D
	WHere (D.DeploymentID = @deployid);

	Select @RowID = [ID] from @tmp;
	
	Set @cc = 66003; -- successfull login return code!!!
	Exec [di].getI18NMsg @Nbr=@cc, @lang=@lang, @msg=@Mesg output;
	Select @Mesg = FORMATMESSAGE(@Mesg, @user);

	Set @xml.modify('
insert <Item nbr=''{sql:variable("@cc")}''>{sql:variable("@Mesg")}</Item>
as last into (/Messages)[1]
');

	Set @xml.modify('
insert <Item nbr=''{0}''>session:[{sql:variable("@nusessid")}] established...</Item>
as last into (/Messages)[1]
');

	
	Set @xml.modify('
insert <Item nbr=''{0}''>cust id:[{sql:variable("@custid")}] from deployment:[{sql:variable("@deploynm")}]</Item>
as last into (/Messages)[1]
');


done:

	Set @mesg = convert(nvarchar(4000), @xml);

	/*
	** depending up results of logic above we return a dummy resultset or a session info resultset
	*/
	SELECT [RowID]
		,[SessionID]
		,[CustomerNbr]
		,[CustName]
		,[LangID]
		,[Lang]
		,[CreatedOn]
		,[ClosedOn]
		,[LastActivityTS]
		,case @RowID when -1 then 'sysadmin@burp.biz' Else [EmailAddr] End As EmailAddr
		,case @RowID When -1 Then 0 else [RoleBitMask] end As RoleBitMask
		,case @RowID When -1 Then [di].[fn_ShowRoleBitMaskAsStr](0) Else [Roles] End As [Roles]
		,case @RowID When -1 Then Convert(uniqueidentifier,'99999999-9999-9999-9999-999999999999') Else [DeploymentID] End As DeploymentGUID
		,case @RowID When -1 Then 'unknown' Else [DeploymentName] End As DeploymentName
		,case @RowID When -1 THen -1 Else [DeploymentRowID] End As DeploymentRowID
		,case @RowID When -1 Then 0 Else [AllowBroadcast] End As AllowBroadcast
		,case @RowID When -1 Then 0 Else [AllowNotices] End As AllowNotices
	FROM [di].[vw_SessionInfo] Where (RowID = @RowID);

	-- post a 'login' message...
	--if (@cc = 66003)
	--Begin
	--	exec [di].GenDeployRootNodeMesg @evnttype='login',@deployID=@deployID,@mesg=@deployMsg output;
	--	exec [di].GenSessSrcMesg @sessID=@nusessid, @mesg=@sessMsg output;
	--		-- stuff in session source node
	--	set @deployMsg.modify('
	--		declare namespace b="http://burp.net/deployment/evnts";
	--		insert sql:variable("@sessMsg") as first into (/b:Burp_Deployment/b:Payload)[1]
	--	');
	--	exec [di].SendDeploymentMesg @msg=@deployMsg;
	--End

	return (case when @cc = 66003 then 0 else 1 end);
	
end
go

revoke execute on [di].BHPUserLoginV4 to [public];
go

checkpoint
go

/*
use DI
go
Declare @cc int;
Declare @msg nvarchar(4000);
Declare @did varchar(256);
declare @rc int;
select @did=convert(varchar(256),DeploymentID) from [di].Deployments where RowID = 0;
exec @rc = [di].BHPUserLoginV4 @user='mighty',@pswd=N'foobar',@deployid=@did,@cc=@cc output,@mesg=@msg output;
select @rc [@rc], convert(xml, @msg) [message];
*/