USE [BHP1-RO]
GO

/****** Object:  StoredProcedure [di].[getI18NMsg]    Script Date: 02/07/2011 10:56:40 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[di].[getI18NMsg]') AND type in (N'P', N'PC'))
Begin
	raiserror('proc:[di].[getI18NMsg] dropped...',0,1);
	DROP PROCEDURE [di].[getI18NMsg]
End
GO


create proc [di].[getI18NMsg] (
	@Nbr int,
	@Lang nvarchar(20) = N'en_us',
	@FollowSuper bit = 1, -- if you want to follow the supercession chain, or not!?
	@Msg nvarchar(2000) output
)
with encryption, execute as 'sticky'
as
begin

	Declare @SuperNbr int;

	Set @Lang = ISNULL(@Lang,N'en_us');
	Set @FollowSuper = ISNULL(@FollowSuper, 1);

	if not exists (select * from sys.columns c where object_id = object_id(N'[di].I18NMessageCatV2',N'U') and right(name, len(@Lang)) = @Lang)
	begin
		Raiserror(N'Language specific message nbr:[%d] for lang:[''%s''] doesn''t exist...pls contact system admin.',16,1,@Nbr,@Lang);
		Return -1;
	end

	If (@Lang <> N'en_us')
		Raiserror(N'Lang:[%s] not implemented yet...returning Lang:[''en_us''] message!!!',0,1,@Lang);

	Select 
		@Msg=Mesg_en_us, 
		@SuperNbr=SupercededByMsgNbr
	From [di].I18NMessageCatV2 
	Where (RowID > 0 And Nbr = @Nbr);


	-- if request'd nbr is superceded...go get that one...walk the tree!!!
	-- NOTE: i tried using a recursive execution here...but visual studio dataset designer kept 
	-- calling the the recursion infinitely!!!
	While (@SuperNbr > 0 And @FollowSuper = 1)
	Begin
		Set @Nbr = @SuperNbr;
		
		Select 
			@Msg=Mesg_en_us, 
			@SuperNbr=SupercededByMsgNbr
		From [di].I18NMessageCatV2 
		Where (RowID > 0 And Nbr = @Nbr);
	End

	Return @@Error;
end

--grant execute on [di].getI18NMsg to [bhpuser];
--go

checkpoint
go
