use [BHP1-RO]
go

if object_id(N'[bhp].GetYeastFlocculationTypes',N'P') is not null
begin
	drop Proc [bhp].GetYeastFlocculationTypes;
	print 'proc:: [bhp].GetYeastFlocculationTypes dropped!!!';
end
go


create proc [bhp].GetYeastFlocculationTypes (
	@SessID varchar(256),
	@HideZeroRow bit = 0
)
with encryption
as
begin

	Declare @rc int;
	Declare @Mesg nvarchar(2000);
	Declare @status bit;

	if (1=0)
	begin
		select
			cast(Null As int) As RowID,
			Cast(Null As varchar(40)) As [Name];
		set fmtonly off;
		return 0;
	end

	Exec @rc = [di].[IsSessStale] @SessID=@SessID, @Status=@Status output, @Mesgs=@Mesg output, @UpdLst=1;

	If (@rc != 0 or @status != 0)
	Begin
		-- should write and audit record here...someone trying to read data w/o logging in!?
		Set @rc = 66006; -- this nbr represents users is not logged in.
		Exec [di].getI18NMsg @Nbr=@rc, @Lang='en_us', @Msg=@Mesg output;
		Raiserror(@Mesg,16,1);
		Return @rc;
	End
	
	begin try
		drop table #tmpFloc;
	end try
	begin catch
	end catch

	Create Table #tmpFloc (RowID int, [Name] varchar(40), FakeRowID int identity(0,1));

	insert into #tmpFloc (RowID, Name)
	values (0, 'pls select...');

	insert into #tmpFloc(RowID, [Name])
	select RowID, [Name]
	from [bhp].YeastFlocculationTypes
	Where (RowID > 0)
	Order By [Name];

	select RowID, [Name]
	from #tmpFloc
	where (FakeRowID > (case ISNULL(@HideZeroRow,0) when 1 then 0 else (-1) end));

	Return @@ERROR;

end
go

/*
exec [bhp].GetYeastFlocculationTypes @SessID='00000000-0000-0000-0000-000000000000', @hidezerorow=1;
*/