USE [BHP1-RO]
GO
/****** Object:  UserDefinedFunction [bhp].[fn_GetCountryNm]    Script Date: 2/27/2020 1:54:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[bhp].[fn_GetCountryNm]') AND type in (N'FN', N'IF', N'TF', N'FS', N'FT'))
BEGIN
	Drop Function [bhp].[fn_GetCountryNm];
	Print 'Function:: [bhp].[fn_GetCountryNm] dropped!!!';
End
go

Create function [bhp].[fn_GetCountryNm](@id int)
returns varchar(200)
with encryption
as
begin
	Declare @rtrnVal varchar(200);
	Select @rtrnVal = [Name] From [di].Countries Where (RowID=@id);
	Return Isnull(@rtrnVal,(Select [Name] From [di].Countries Where (RowID=0)));
end
go
