USE [BHP1-RO]
GO

drop function [bhp].[fn_GetSTageName];
go

/****** Object:  UserDefinedFunction [bhp].[fn_GetStageName]    Script Date: 2/25/2020 2:59:05 PM ******/
SET ANSI_NULLS ON
SET QUOTED_IDENTIFIER ON
GO

Create function [bhp].[fn_GetStageName](@id int)
returns varchar(50)
with encryption
as
begin
	Declare @rtrnVal varchar(50);
	Select @rtrnVal = [Name] From [bhp].[StageTypes] Where (RowID=@id);
	Return Isnull(@rtrnVal,(Select [Name] FROM [bhp].[StageTypes] Where (RowID = 0)));
end
go