USE [BHP1-RO]
GO
/****** Object:  UserDefinedFunction [bhp].[fn_GetGrainTypeNm]    Script Date: 2/27/2020 12:42:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[bhp].[fn_GetGrainTypeNm]') AND type in (N'FN', N'IF', N'TF', N'FS', N'FT'))
BEGIN
	Drop Function [bhp].[fn_GetGrainTypeNm];
	Print 'function:: [bhp].fn_GetGrainTypeNm dropped!!!';
End
go

Create function [bhp].[fn_GetGrainTypeNm](@id int)
returns nvarchar(256)
as
begin
	Declare @rtrnVal nvarchar(256);
	Select @rtrnVal = [Name] From [bhp].[GrainTypes] Where (RowID=@id);
	Return Isnull(@rtrnVal,(Select [Name] FROM [bhp].[GrainTypes] Where (RowID = 0)));
end
go

