use [BHP1-RO]
go

if object_id(N'di.vw_DeploymentSubscriptions',N'V') is not null
begin
	Drop View di.vw_DeploymentSubscriptions;
	Print 'View:: di.vw_DeploymentSubscriptions dropped!!!';
end
go

if object_id(N'di.vw_DeploymentPublications',N'V') is not null
begin
	Drop View di.vw_DeploymentPublications;
	Print 'View:: di.vw_DeploymentPublications dropped!!!';
end
go

if object_id(N'di.DeploymentSubscriptions',N'U') is not null
begin
	Drop Table di.DeploymentSubscriptions;
	Print 'Table:: di.DeploymentSubscriptions dropped!!!';
end
go

if object_id(N'di.DeploymentPublications',N'U') is not null
begin
	Drop Table di.DeploymentPublications;
	Print 'Table:: di.DeploymentPublications dropped!!!';
end
go


Create Table di.DeploymentSubscriptions (
	RowID int identity(1,1) not null,
	Fk_PrefMstrID smallint not null,
	[PrefName] as ([di].[fn_GetPrefName](Fk_PrefMstrID)),
	ValidFrom datetime not null,
	ValidTill datetime not null,
	--AllowAddOp bit null,
	AllowChgOp bit null,
	Constraint PK_DeploymentSubscriptions_RowID Primary Key NonClustered (RowID),
	Constraint FK_DeploymentSubscriptions_PrefsMstr Foreign Key (Fk_PrefMstrID)
		References di.DeploymentPrefsMstr (RowID)
);
go

Alter table di.DeploymentSubscriptions add
Constraint DF_DeploymentSubscriptions_ValidFrom default(getdate()) for [ValidFrom],
Constraint DF_DeploymentSubscriptions_ValidTill default(dateadd(yyyy,1000, getdate())) for [ValidTill],
--Constraint DF_DeploymentSubscriptins_AllowAddOp default(1) for [AllowAddOp],
Constraint DF_DeploymentSubscriptins_AllowChgOp default(0) for [AllowChgOp];
go



Create Table di.DeploymentPublications (
	RowID int identity(1,1) not null,
	Fk_PrefMstrID smallint not null,
	[PrefName] as ([di].[fn_GetPrefName](Fk_PrefMstrID)),
	ValidFrom datetime not null,
	ValidTill datetime not null,
	SendChgOp bit not null,
	Constraint PK_DeploymentPublications_RowID Primary Key NonClustered (RowID),
	Constraint FK_DeploymentPublications_PrefsMstr Foreign Key (Fk_PrefMstrID)
		References di.DeploymentPrefsMstr (RowID)
);
go

Alter table di.DeploymentPublications add
Constraint DF_DeploymentPublications_ValidFrom default(getdate()) for [ValidFrom],
Constraint DF_DeploymentPublications_ValidTill default(dateadd(yyyy,1000, getdate())) for [ValidTill],
Constraint DF_DeploymentPublications_SendChgOp default(0) For [SendChgOp];
go

Create View di.vw_DeploymentSubscriptions (
	RowID, PrefRowID, [Name], [IsManditory], [Notes],  AllowChgOp, ValidFrom, ValidTill, [Domain]
)
with encryption
as
		Select
			DS.RowID,
			PM.RowID, 
			PM.Name, 
			PM.Manditory, 
			ISNULL(PM.Notes,N'No comments given...') As Notes,
			ISNULL(DS.AllowChgOp,0) As AllowChgOp,
			ISNULL(DS.ValidFrom,0) As ValidFrom,
			ISNULL(DS.ValidTill,0) As ValidTill,
			ISNULL(PM.Domain,'undef') As [Domain]
		From di.DeploymentPrefsMstr PM
		Inner Join di.DeploymentSubscriptions DS On (DS.Fk_PrefMstrID = PM.RowID)
		Where (GETDATE() Between DS.ValidFrom And DS.ValidTill);
go

Create View di.vw_DeploymentPublications (
	RowID, PrefRowID, [Name], [IsManditory], [Notes],  SendChgOp, ValidFrom, ValidTill, [Domain]
)
with encryption
as
	Select
		DS.RowID,
		PM.RowID, 
		PM.Name, 
		PM.Manditory, 
		ISNULL(PM.Notes,N'No comments given...') As Notes,
		ISNULL(DS.SendChgOp,0) As SendChgOp,
		ISNULL(DS.ValidFrom,0) As ValidFrom,
		ISNULL(DS.ValidTill,0) As ValidTill,
		ISNULL(PM.Domain,'undef') As [Domain]
	From di.DeploymentPrefsMstr PM
	Inner Join di.DeploymentPublications DS On (DS.Fk_PrefMstrID = PM.RowID)
	Where (GETDATE() Between DS.ValidFrom And DS.ValidTill);
go

checkpoint;