use [BHP1-RO]
go

drop view [di].vw_DeploymentInfo;
go

Create view [di].vw_DeploymentInfo (
	RowID, [Fk_DeploymentType], [DeploymentTypeAsCSV],
	[Name], [Descr], DeployedOn, DeploymentID, [Fk_OwnerInfoID], OwnerName, Phone, Email, OwnerNotes,
	[Notes], [LatestPayLdType], [LatestPayLdUID], [Verified]
)
as
Select
	 D.[RowID]
      ,D.[Fk_DeploymentType]
      ,D.[DeploymentTypeAsCSV]
      ,D.[Name]
      ,ISNULL(D.[Descr], N'no deployment note(s)!?')
      ,D.[DeployedOn]
      ,D.[DeploymentID]
      ,D.[Fk_OwnerInfoID]
	  ,Case D.Fk_OwnerInfoID When 0 Then 'undef owner!?' Else O.Name End
	  ,ISNULL(O.Ph,'(000)000-0000')
	  ,ISNULL(O.EMail,N'noemail@foobar.com')
	  ,ISNULL(O.Notes,N'n/a')
      ,D.[Notes]
      ,D.[LatestPayLdType]
      ,D.[LatestPayLdUID]
      ,ISNULL(D.[Verified],0)
  FROM [di].[Deployments] D
  inner join [di].OwnerInfo O On (D.Fk_OwnerInfoID = O.RowID);