USE [BHP1-RO]
GO

/****** Object:  UserDefinedFunction [bhp].[fn_YeastPkgTypToStr]    Script Date: 02/09/2011 17:54:18 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[bhp].[fn_YeastPkgTypToStr]') AND type in (N'FN', N'IF', N'TF', N'FS', N'FT'))
begin
	print 'function: [bhp].fn_YeastPkgTypToStr dropped...';
	DROP FUNCTION [bhp].[fn_YeastPkgTypToStr]
end
GO


/****** Object:  Table [bhp].[YeastPackagingTypes]    Script Date: 03/26/2014 17:38:24 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[bhp].[YeastPackagingTypes]') AND type in (N'U'))
BEGIN
	DROP TABLE [bhp].[YeastPackagingTypes];
	Print 'Table:: [bhp].[YeastPackagingTypes] Dropped!!!';
END
GO


create table [bhp].YeastPackagingTypes (
	RowID [Int] Identity(1,1) Not Null,
	Name [nvarchar](200) Not Null,
	Lang [varchar](50) Not Null,
	Notes [nvarchar](500) Not Null,
Constraint PK_YeastPkgTypes_RowID Primary Key NonClustered (RowID)
)
go

alter table [bhp].YeastPackagingTypes add 
constraint DF_YeastPkgTypes_Lang Default('en_us') for [Lang],
constraint DF_YeastPkgTypes_Note Default(N'<Notes><Note nbr="1">no comment given...</Note></Notes>') for [Notes];
go

set identity_insert [bhp].YeastPackagingTypes on;
insert into [bhp].YeastPackagingTypes(RowID,Name,Notes)
values (0,'not set',N'<Notes><Note nbr=''1''>DO NOT REMOVE!!!</Note></Notes>');
set identity_insert [bhp].YeastPackagingTypes off;
go

create clustered index IDX_YeastPkgTypes_NameLang on [bhp].YeastPackagingTypes (Name, Lang)
go

-- =============================================
-- Author:		mike
-- Create date: 21Aug2014
-- Description:	prevent deletion if packaging type used in master somewhere
-- =============================================
CREATE TRIGGER [bhp].[DEL_YeastPackagingTypes_01] ON  [bhp].[YeastPackagingTypes] 
-- with encryption
FOR DELETE
AS 
BEGIN
	SET NOCOUNT ON;

	If Exists (Select * from [bhp].YeastMstr Y Inner Join deleted d On (Y.fk_YeastPkgTyp = d.RowID))
	Begin
		Declare @Mesg nvarchar(2000);
		Exec [di].getI18NMsg @Nbr=66033, @Lang='en_us', @Msg=@Mesg output;
		Raiserror(@Mesg,16,1);
		Rollback Transaction;
	End
END
go

create Trigger DEL_YeastPackagingTypes_99 on [bhp].YeastPackagingTypes 
-- with encryption
for Delete
as
begin
	If Exists (Select * from deleted Where RowID = 0)
	Begin
		Raiserror('Row ''zero'' cannot be deleted...aborting!!!',16,1);
		Rollback Transaction;
	End
end
go


create function [bhp].[fn_YeastPkgTypToStr] (@rowid int)
returns nvarchar(200)
with Encryption
as
begin
	Declare @str nvarchar(200);
	Select @str = Name From [bhp].YeastPackagingTypes Where (RowID = @rowid);
	Return Coalesce(@str,N'n/a');
end
go
