use [BHP1-RO]
go

if object_id(N'[bhp].vw_BlogPostCategories',N'V') IS NOT NULL
Begin
	Drop View [bhp].vw_BlogPostCategories;
	print 'view:: [bhp].vw_BlogPostCategories dropped!!!';
End
go

/****** Object:  View [bhp].[vw_BlogPostCategories]    Script Date: 3/16/2020 12:07:42 PM ******/
SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

CREATE view [bhp].[vw_BlogPostCategories] 
as
	Select 
		[RowID]
		,[Name]
		,[Descr]
		,[AllowSubs]
		,ISNULL([IsDfltForNu],0) As IsDfltForNu
	FROM [bhp].[BlogPostCategories];
GO



checkpoint