DECLARE	@return_value int
declare @rowid int;

set @rowid = 0;

while exists (Select * from bhp.HopSchedMstr where rowid > @rowID)
begin
	select Top (1) @Rowid=[RowID] from bhp.HopSchedMstr WHere rowid > @rowid order by rowid;

	EXEC @return_value = [bhp].[DelHopSchedMstrRec]
		@SessID = N'00000000-0000-0000-0000-000000000000',
		@Unbind = 1,
		@RowID = @rowid;

end

GO

select * from bhp.HopSchedMstr
